body{
 margin: 0 ;
padding: auto 0;
box-sizing: border-box;
background: rgb(230,240,240);
background: linear-gradient(90deg, rgba(230,240,240,1) 3%, rgba(143,222,230,1) 97%);}
.s1
{
 display: flex;
 justify-content: start;
 padding: 10px 20px;
 font-size: 37px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 color: yellowgreen;

}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }